@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
* {
  font-family: Open Sans;
}
/* nav */


.navbar-brand span{
    color: red;
}
.navbar-brand span:hover{
    color: #fff;
}
/* nav */
/* hero */
header {
    height: 600px;
    width: 100vw;
    background: black;
    overflow: hidden;
}
.banner{
    width: 100%;  
    height: 100vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.75),rgba(162, 229, 212, 0.384)) ,url("../assets/image/pexels-luis-quintero-1787220.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
.hero-text{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.content-main-1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
.text-main-h1{
    font-size: 36px 
}
.text-main-h2{
    font-size: 18px;
    text-align: center;
}
/* hero */
/* slide */

.iim{
    margin-top: 150px;
}
.iim img{
    margin: auto;
}
.ed-im{
width: 50%;

}
.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: rgba(255, 0, 0, 0.39);
}
/* slide */
/*  */
.i-ri{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}
.i-r{
    width: 400px;
    height: 400px;
}
.div-sp{
    margin-top: 250px;
}
/*  */
/* block-2-item */

          .site-blocks-2 .block-2-item .image img {
            margin-bottom: 0;
            -webkit-transition: .3s all ease-in-out;
            -o-transition: .3s all ease-in-out;
            transition: .3s all ease-in-out; }

            .site-blocks-2 .block-2-item:hover .image img {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1); }
 
/* block-2-item */

/* form */
.page-section {
    padding: 6rem 0;
  }
  .page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
  }

  section#contact {
    background-color: #212529;
    background-image: url('../assets/image/map-image.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  section#contact .section-heading {
    color: #fff;
  }
  section#contact form#contactForm .form-group {
    margin-bottom: 1.5rem;
  }
  section#contact form#contactForm .form-group input,
  section#contact form#contactForm .form-group textarea {
    padding: 1.25rem;
  }
  section#contact form#contactForm .form-group input.form-control {
    height: auto;
  }
  section#contact form#contactForm .form-group-textarea {
    height: 100%;
  }
  section#contact form#contactForm .form-group-textarea textarea {
    height: 100%;
    min-height: 10rem;
  }
  section#contact form#contactForm p.help-block {
    margin: 0;
  }
  section#contact form#contactForm .form-control:focus {
    border-color: #ffc800;
    box-shadow: none;
  }
  section#contact form#contactForm ::-webkit-input-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  section#contact form#contactForm :-moz-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  section#contact form#contactForm ::-moz-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  section#contact form#contactForm :-ms-input-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
  }
  /* form */
  .div-co-span{
    margin-bottom: -200px;
  }
  .div-co-span span{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .co-span{
    font-size: clamp(3rem, 15vmin, 8rem);
    font-family: sans-serif;
    color: rgb(0, 0, 0);
  }
  .underlined {
    /*   background: red; */
      position: relative;
    }
    
    .underline-mask:after {
      content: '';
      position: absolute;
      top: 95%;
      width: 150%;
      aspect-ratio: 3 / 1;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 50%;
      border: 6px solid hsl(280 80% 50%);
      /* Use a conic gradient mask to hide and show the bits you want */
      --spread: 140deg;
      --start: 290deg;
      mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
    }
    
    
    .underline-overflow {
      display: inline-block;
      /* A little extra padding and overflow hidden   */
      overflow: hidden;
      padding-bottom: clamp(1rem, 2vmin, 2rem);
    }
    .underline-clip:after {
      content: '';
      position: absolute;
      top: 95%;
      width: 150%;
      aspect-ratio: 3 / 1;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 50%;
      border: 6px solid hsl(130 80% 50%);
      /* Use a clip-path to hide and show the bits you want */
      clip-path: polygon(0 0, 50% 50%, 100% 0);
    }


   
    
    .footer-distributed{
      margin-bottom:-95px ;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
    }
    
    /* Footer left */
    
    .footer-distributed .footer-left{
      width: 40%;
    }
    
    /* The company logo */
    
    .footer-distributed h3{
      color:  #f00;
      font: normal 36px 'Open Sans', cursive;
      margin: 0;
    }
    
    .footer-distributed h3 span{
      color:  #fff;
    }
    
    /* Footer links */
    
    .footer-distributed .footer-links{
      color:  #ffffff;
      margin: 20px 0 12px;
      padding: 0;
    }
    
    .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
      font-weight:400;
      text-decoration: none;
      color:  inherit;
    }
    
    .footer-distributed .footer-company-name{
      color:  #222;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }
    .footer-links a:hover {
      color: #3d5b99;
  }
    /* Footer Center */
    
    .footer-distributed .footer-center{
      width: 35%;
    }
    
    .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
    }
    .footer-center i:hover {
      background-color: #3d5b99;
  }
    
    .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
    }
    
    .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
      font-weight:400;
      vertical-align: middle;
      margin:0;
    }
    
    .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
    }
    
    .footer-distributed .footer-center p a{
      color:  lightseagreen;
      text-decoration: none;;
    }
    
    .footer-distributed .footer-links a:before {
      content: "|";
      font-weight:300;
      font-size: 20px;
      left: 0;
      color: #fff;
      display: inline-block;
      padding-right: 5px;
    }
    
    .footer-distributed .footer-links .link-1:before {
      content: none;
    }
    
    /* Footer Right */
    
    .footer-distributed .footer-right{
      width: 20%;
    }
    
    .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
    }
    
    .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons{
      margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-right: 3px;
      margin-bottom: 5px;
    }
    .footer-icons a:hover {
      background-color: #3d5b99;
  }
    
    /* If you don't want the footer to be responsive, remove these media queries */
    
    @media (max-width: 880px) {
    
      .footer-distributed{
        font: bold 14px sans-serif;
      }
    
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }
    
      .footer-distributed .footer-center i{
        margin-left: 0;
      }
    
    }